*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner 
{
    min-height: 56.25vw;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    background-image: url("../images/Banner.jpg");
    
}

.banner .text_center 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.banner .logo 
{
    position: absolute;
    top: 2%;
    left: 3%;
    transform: translate(-3%,-3%);
}
.text_center h1 
{
    font-size: 3.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    
}
.text_center h3
{
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: -10px;

}
.feedback_section 
{
    margin-top: 1.25rem;
    text-align: center;
}
.feedback_section h1{
    color: #058cb9;
    
}
.feedback_section p{
    color: #058cb9;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-left: 10px;
    padding-right: 10px;
}

#quiz {
    text-indent: 10px;
    display:none;
  }
  h2 
  {
    display: none;
  }
  p 
  {
    color: #058CB9;
  }
  li 
  {
    color: black;
    font-weight: 500;
  }
  
  .button_submission
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    text-align: center;
    margin-top: 30px;
  }
  .button_submission .button {
      width: 15%;
      font-weight: bold;
      background-color: #058CB9;
      color: white!important;
      padding: 10px 20px;
      border-radius: 16px;
      margin: 0 auto;
  }
  
  .button_submission .button:hover 
  {
    background-color:#444D2f;
    cursor: pointer;
  }

  .button_submission .button a {
    text-decoration: none;
    color: white;
  } 
  
  .button_submission .button a:hover
  {
    color: white;
  }

  #container {
    width:50%;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: white;
    border:2px solid #058cb9;
    border-radius:5px;
    /* color: #058cb9; */
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
  }

  input[type="radio"]
   {
    margin: 0 3px;
   }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #prev {
    display:none;
  }
  
  #start {
    display:none;
    width: 90px;
  }
.thankyou_image 
{
    
    margin-top: 40px;
    min-height: 56.25vw;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-image: url("../images/Thank-you-Card.jpg");
    
}
.footer 
{    
    position: relative;
    width: 100vw;
    height: 40vh;
    margin-top: 20px;
    background-color: #444D2f;
    display: grid;
    place-items: center;
}
.footer_text_inside h3
{
  text-align: center;
  color: white;

}
.footer_text_inside h4
{
  text-align: center;
  color: white;
  font-weight: 700;

}
.social_images
{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
.footer_text_inside h4 .mail_valley 
{
    font-weight: 400!important;
}
.footer_text_inside .social_images a img 
{
    width: 60px;
    height: 60px;
    text-align: center!important;
}
input#tea {
    width: 30%;
    display: inline;
    margin: 0 40px;
}
input#coffee {
    width: 30%;
    display: inline;
    margin: 0 20px;
}

.get_details button.btn.button_submit 
{   
    font-size: 1rem;
    font-weight: bold;
    background-color: #058CB9;
    color: white;
    padding: 8px 18px;
    border-radius: 16px;
}

/* mobile section */
@media(max-width: 768px) 
{
    .text_center h1 
    {
        font-size: 17px;
        text-align: center;
        margin-top:30px;
    } 
    #container {
        width:90%;
        margin: 0 auto;
        
      }
    .text_center h3 
    {
        font-size: 0.8125rem;
        margin-top:-4px;
        text-align: center;
        line-height: 0.8125rem;
    } 
    .banner 
    {
        position: relative;
    }
    .banner .logo 
    {  
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%,-50%);
    }

    .logo img{
        width: 86px;
    }
    .button_submission .button {
        width: 30%;
        margin: 0 auto;
    }

    .button_submission .button:hover 
    {
    background-color: #444D2f;
    cursor: pointer;
    }
    .footer 
    {
        padding-bottom:10px;
    }
}